*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Rowdies", sans-serif;
    color: rgb(75, 53, 24);
    font-size: 24px;
    background-color: #f8e5b8;
}
#header-nav {
    background-color: #fdd474;
    border-radius: 0;
    border: 0;
}

button.navbar-toggle{
    margin-top: 20px;
}

#brand-name {
    font-size: 2.5em;
    color: black;
    padding-top: 10px;
    padding-left: 15px;
}

#nav-list{
    text-align: center;
}

.sub-heading{
    font-size: 1.5em;
    margin-bottom: 35px;
}

.about-category{
    background-color: #faa88a;
}


h3{
    margin-bottom: 20px;
    font-size: 1.3em;
}

div.container-fluid{
    margin-bottom: 20px;
}

@media (max-width: 767px){
    .extra-xs-padding{
        padding-left: 50px;
        padding-right: 50px;
    }
}